.theme-light {

    --page-background-color: #F5F6F9;
    --card-background-color: white;
    --button-background-color: #47D5FE;
    --header-background-color: white;
  
    --text-default-color: black;
    --text-muted-color: rgb(255,255,255, 0.1);
    --text-error-color: red;
    
  }